How does the schema.graphql works?

Hello, I am facing some issue when using this library.
In the example there is a `schema.graphql` but I am not quite sure where this file is generated,
is it generated in the Backend? or generated by the graphql-codegen plugin?
I am using Nestjs as my backend so I tried to import the schema generated by `autoSchemaFile` config.
When it comes to custom scalar, it seem this library doesn't support scalars at all, or maybe I did something wrong.
Here is my schema.gql file in Backend side:
```
"""
A date-time string at UTC, such as 2007-12-03T10:15:30Z, compliant with the `date-time` format outlined in section 5.6 of the RFC 3339 profile of the ISO 8601 standard for representation of dates and times using the Gregorian calendar.
"""
scalar DateTime

type SomeEntity {
  createdAt: DateTime!
  id: Int!
}
```

By checking source code, it seem this library only process
`if (n.kind === 'ObjectTypeDefinition' || n.kind === 'InterfaceTypeDefinition') {`
where custom scalars kind is `ScalarTypeDefinition`.

Thank you for the library and any advice!

Okay so I found what's wrong, 
I have custom scalar for my database JSON column which uses the JSONObject scalar,
but since the transform function checks transformDefinition at the last,
it threats that custom scalar to be property of GraphQL structure.
I created a PR to fix this by moving the transformDefinition checking to the beginning.

Hey @nodegin, thanke you for contributing! :) Sorry that it took so long to reply, i just did not notice this issue until now. I kind of forgot that i made this public, i will check for regulary now! 
I'm not sure i fully understand the Issue, can you maybe post the relevant part of your backend schema with the JSONObject? 

@co-sic Hello! Sorry actually I already fixed the issue and created a [PR](https://github.com/gastromatic/graphql-transform-scalars/pull/51).

The root cause was the parsing sequence, in my schema I have a field defined as `JSONObject`, but the current code when it checks the `result` is `object` it parse and return it immediately,

that will cause issue when you have custom object type in your schema like JSONObject because the `transformDefinition` will never get called.

In the PR I moved the parsing sequence to check if result fulfills `transformDefinition` first and it fixed my issue.

Hey, i saw your PR already, but i had trouble understanding why this is needed, since the library is fro transforming scalars. So if you have an object type then i check all the fields. So what exactly is your JSONObject? Can you show me the graphql definition of it or maybe part of your schema for me to understand better?

@co-sic Yes sure, so I have a schema looks like below

```
type OrderEntity {
  id: Int!
  item: JSONObject!
}
```

and JSONObject scalar is imported from `graphql-scalars`

`import { GraphQLJSONObject } from 'graphql-scalars';`

The sample data is like

```
{
  "id": 1,
  "item": {
    "productName": "test",
    "images": [],
    "price": 1000
  }
}
```

In this case, I just want the library to treat the `item` field as normal object,

but not GraphQL property, currently it will never hit the `transformDefinition`,

since `typeof item` is "object" then it will treat `item`as GraphQL property.

@nodegin okay i understood now. I was not expecting there to be a type of scalar that is represented as an object. Makes sense now. Thanks for the fix! :)

:tada: This issue has been resolved in version 1.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/graphql-transform-scalars/v/1.2.1)
- [GitHub release](https://github.com/gastromatic/graphql-transform-scalars/releases/tag/v1.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket: